.skills-section .top-skills {
    margin-bottom: 60px;
}

.skills-section .top-skills .row {
    display: flex;
    justify-content: center;
}

.skills-section .top-skills .item {
    margin-bottom: 45px;
    text-align: center;
    padding: 15px;
}

.skill-name {
    margin: 1rem 0;
}

.skills-section .level {
    color: #8a8a8a;
    margin-bottom: 15px;
}

.skills-section .subtitle {
    text-align: center;
    font-size: 18px;
    color: #8a8a8a;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 300;
}

.skills-section .other-skills .misc-skills {
    display: flex;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-section .skill-tag {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #f5f5f5;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
}

